.footer {
    width: 100%;
    height: 171px;
    background-color: var(--mainColor);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .footer-content {
    width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 20px #64ffb7aa);
}

.footer-content .footer-content-title {
    color: #64FFDA;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-content .footer-content-email {
    color: #64FFDA;
    font-size: 16px;
    font-weight: 400;
}

.footer-content .footer-content-socialnetwork img {
    margin: 0px 14.5px 0px 14.5px;
    cursor: pointer;
}

.footer-content-socialnetwork a :hover {
    width: 30px;
    height: 30px;
}

.footer-content-email:hover {
    font-size: 18px;
}

.footer-content-title:hover {
    font-size: 20px;
}

@media (max-width: 900px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-content-socialnetwork {
        margin: 2rem 0 2rem 0;
    }
}